<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>The Greeter App</title>
  <link rel="stylesheet" href="stylesheets/style.css"/>
  <script src ></script>
</head>
<body>
  <h1>The Greeter App</h1>
  <%= yield %>
  <footer>
    &copy; 2015-2021 by Ariel Ortiz. Built with <a href="http://www.sinatrarb.com">Sinatra</a>.
  </footer>
</body>
</html>