<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h2>final feedback</h2>
    <h2>Your results are:</h2>
    <ul>
        <li>Total of questions: <%= $current_score["total_questions"]  %> </li>
        <li>Correct answers: <%= $current_score["correct"]  %> </li>
        <li>incorrect answers: <%= $current_score["incorrect"]  %> </li>
    </ul>

    <form method="post">
        <h2>Do you want to try again?</h2>
            <p>
            <input type="submit" value="Continue" />
        </p>
    </form>

</body>
</html>


