<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Quiz</title>
</head>
<body class="bg-secondary">
    <div class="container">
        <div class="d-flex align-items-center min-vh-100"> 
            <div class="card p-4 text-center" style="width: 90rem; heigth: auto;">
                <h2 class="card-title fs-4 font-weight-bold">Quiz about design patterns, antipatterns and refactorings. Please awnser all the questions</h2>
                
                <h5 class="card-subtitle text-muted text-uppercase mb-4 fs-2">Question</h5>
                

                <form method="post">
                    <div class="text-left">
                        <h3><%= @info["question"] %></h3>
                        <fieldset class="mb-2 mt-2">
                            <legend>Select the correct answer:</legend>
                            <div class="input-group container">
                                <div class="input-group-prepend">
                                    <div class="input-group-text w-100">
                                        <input type="radio" id="answer-1" name="answer" value="answer-1"
                                                checked>
                                        <label class="mt-2 ml-2" for="answer-1"> <%= @info["answer-1"] %>  </label>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group container">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" id="answer-2" name="answer" value="answer-2">
                                        <label class="mt-2 ml-2" for="answer-2"> <%= @info["answer-2"] %> </label>
                                    </div>
                                </div>
                            </div>

                            <% if @info["answer-3"] != nil %>
                                <div class="input-group container">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="radio" id="answer-3" name="answer" value="answer-3">
                                            <label class="mt-2 ml-2" for="answer-3"> <%= @info["answer-3"] %> </label>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </fieldset>
                    <input class="btn btn-primary" type="submit" value="Continue" />
                </form>
            </div>
        </div>
    </div>
</body>

</html>


